--
-- PostgreSQL database dump
--

\restrict 89BQjR2pkQTXQi3h0lKRpWgiR9aYmqnxfBD7GiTEQdjkHEpvROFamoWsQh9kqBB

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, full_name, password_hash, role, profile_image_url) FROM stdin;
3	kuramsettypurnachandrarao@gmail.com	Purna Chandra Rao Kuramsetty	$2a$10$lwxRC.6LFHmChLW039t6q.NMRl5j5wwVNAavmK3JClR/poEr3OlmS	USER	\N
10	admin@shoppybag.com	Admin Shoppybag	$2a$10$bdNMP4CmZdHo2PKfQl0U9.87Ry7nFjsuZnwJ1bI1s.B/2dCoM8yY2	ADMIN	\N
1	purna@test.com	Purna chandra rao	$2a$10$T7WR60CVrd70ESNu0Nq4v.ZWKsjFKL2s44hThOzWcHOhNfuCCmHZu	USER	purna_at_test_com_profile.jpg
\.


--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.addresses (id, country, address_line1, address_line2, pin_code, state, users_id) FROM stdin;
11	India	73-4-36 THOTAVARISTREET,PATAMATA,OPPOSITE ANDHRA BANK		520010	ANDHRAPRADESH	1
\.


--
-- Data for Name: cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart (id, created_at, total_amount, user_id) FROM stdin;
50	2025-12-15 12:42:46.156	2840.44	1
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_variant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cart_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_item (id, price, quantity, cart_id, product_id, users_id, variant_id) FROM stdin;
90	2840.44	1	50	423	1	462
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.category (id, name, parent_id) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (id, order_date, status, total_amount, users_id, delivery_status) FROM stdin;
46	2025-12-13 20:47:55.236655	PAID	2533.07	1	DELIVERED
47	2025-12-14 02:50:17.351752	PAID	2210.48	1	DELIVERED
\.


--
-- Data for Name: orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orderitem (id, price, quantity, order_id, product_variant_id) FROM stdin;
59	2533.07	1	46	458
60	2210.48	1	47	461
\.


--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment (id, payment_amount, created_at, payment_method, payment_status, transaction_id, orders_id) FROM stdin;
36	2533.07	2025-12-13 20:47:59.333765	RAZORPAY	SUCCESS	order_Rr8tL4hAQTxlZB	46
37	2210.48	2025-12-14 02:50:31.989018	RAZORPAY	SUCCESS	order_RrF4J0C8FoTCmr	47
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: addresses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.addresses_id_seq', 11, true);


--
-- Name: cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_id_seq', 50, true);


--
-- Name: cart_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_item_id_seq', 90, true);


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_id_seq', 1, false);


--
-- Name: orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orderitem_id_seq', 60, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 47, true);


--
-- Name: payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payment_id_seq', 38, true);


--
-- Name: product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_images_id_seq', 2402, true);


--
-- Name: product_reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_reviews_id_seq', 12, true);


--
-- Name: product_variant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_variant_id_seq', 1603, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 804, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 11, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 89BQjR2pkQTXQi3h0lKRpWgiR9aYmqnxfBD7GiTEQdjkHEpvROFamoWsQh9kqBB

