@import './hero-part-1.css';
@import './hero-part-2.css';
@import './hero-part-3.css';
@import './hero-part-4.css';
@import './hero-part-5.css';
@import './hero-part-6.css';
@import './hero-part-7.css';
@import './hero-part-8.css';
