@import './payment-pages-part-1.css';
@import './payment-pages-part-2.css';
@import './payment-pages-part-3.css';
@import './payment-pages-part-4.css';
@import './payment-pages-part-5.css';
@import './payment-pages-part-6.css';
